/*
.content-box {
  padding: 23px;
  border: 2px darkgoldenrod dashed;
  margin: 15px;
}
*/

.content-box {
  padding: 10px 15px 20px 25px;
  margin: 25px 20px 15px 10px;
  border: 2px dashed darkgoldenrod;
}

div:first-of-type {
  /* height: 100vh;*/
  height: 300px;
  width: 50%;
  display: none;
}

div {
  display: inline-block;
}

div:last-of-type:hover {
  background-color: darkgrey;
  color: darkmagenta;
  border: 3px solid darkmagenta;
}
